*{
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.location {
  display: flex;
  background-color: rgba(0, 47, 52, 0.03);
  align-items: center;
  justify-content: center;
}
.box-1 {
  display: flex;
  background-color: #fff;
  border: 2px solid #002f34;
  padding: 0 8px;
  height: 45px;
  width: max-content;
  margin: 10px 12px;
  border-radius: 4px;
}
.hov{
  background-color: #002f34;
  color: #fff;
}
.location:focus {
  border-color: #40e0d0;
}
.loctionInput {
  background: #fff;
  color: #002f34;
  font-size: 16px;
  padding: 9px 5px;
  height: 100%;
  outline: none;
  border: none; 
} 
.product {
  display: flex;
  border: 2px solid #002f34;
  padding: 0 8px;
  height: 50px;
  margin: 5px;
  border-radius: 4px;
  flex-basis: 50%;
}
.product input {
  width: 100%;
  padding: 8px 5px;
  outline: none;
  border: none;
}
.group {
  border-radius: 4px;
  padding: 8px 5px;
  border-color: #002f34;
  width: 100%;
  height: 100%;
  outline: none; 
  /* border: none; */
}
.group:focus {
  border-color: #40e0d0;
}
.group + Button {
  background-color: #002f34;
  color: #fff;
}
.login {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  margin-top: 17px;
  margin-left: 10px;
  color: #002f34;
}
.login:hover {
  text-decoration: none;
  color: #002f34;
  cursor: pointer;
}
.sell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;

}
.sell-btn {
  background-color: #fff;
  display: flex;
  border-width: 5px;
  border-style: solid;
  border-top-color: #40e0d0;
  border-bottom-color: rgb(57, 135, 236);
  border-left-color: rgb(255, 217, 0);
  border-right-color: #002f34;
  border-radius: 20px;
  width: 90px;
  height: 40px;
  /* padding: 10px; */
  text-align: center;
  margin: 5px;
  margin-left: 15px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px 0 rgba(0,0,0,.14);
}

/* All Categories */
.menuCat {
  font-size: 14px;
  color: #002f34;
}
.bread {
  list-style-type: none;
  margin-top: 5px;
}
.bread li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 7px;
}
.bread li a {
  color: #002f34;
  font-size: 14px;
  text-decoration: none;
}
.bread li a:hover {
  color: #1e94a1;
}

/* Footer 2 */
.foot2 {
  list-style-type: none;
  font-size: 12px;
  color: rgba(0, 47, 52, 0.64);
  padding-left: 0px;
  font-weight: 400;
}
.foot2Ul li {
  display: inline-block;
}

.authUi {
  color: #002f34;
  background-color: #fff;
  border: 2px solid #002f34;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  width: 100%;
  padding: 0 10px;
  margin-top: 10px;
}
.authUi:hover {
  border: 4px solid #002f34;
}
.fbLogin {
  font-size: 12px;
  color: rgba(0, 47, 52, 0.64);
  font-weight: 400;
}
.modalFoot {
  border-top: 1px solid rgb(219, 219, 219);
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
}
.modalEnd {
  margin: 20px 0 0;
  padding: 0 20px;
  text-align: center;
  color: rgba(0, 47, 52, 0.64);
  font-size: 12px;
}

/* // Product  */

.advertisement {
  text-align: center;
  margin: 80px 0px;
}

.crousal {
  width: 100%;
  height: 500px;
  /* border: 2px solid red; */
}

.description {
  margin-top: 40px;
  padding: 12px;
  background: #fff;
  border: 1px solid #002f34;
  border-radius: 4px;
}
.description h3 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
  color: #002f34;
}
.description p {
  color: #002f34;
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
}
.price {
  width: 100%;
  background: #fff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #002f34;
  /* border: 1px solid rgba(0,47,52,.2); */
  border-radius: 4px;
}
.price h3 {
  font-weight: 700;
  /* margin-bottom: 8px; */
  color: #002f34;
  font-size: 34px;
}
.price p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 47, 52, 0.64);
  line-height: 24px;
  word-break: break-word;
}
/* POST ADD FORM   */
.adHeader {
  background-color: rgba(0, 47, 52, 0.03);
  padding: 15px 26px;
  height: 70px;
}
.caticontainer {
  margin: 10px auto;
  /* border: 2px solid red; */
  color: #002f34;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid rgba(0, 47, 52, 0.2);
  border-radius: 4px;
  width: 54%;
  height: 500px;
}
.caticontainer h3 {
  padding: 24px 30px 16px;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 700;
  color: #002f34;
}

.catList {
  display: flex;
  /* text-align: left;  */
  width: 50%;
  /* color: #002f34; */
  box-sizing: border-box;
  border: 1px solid rgba(0, 47, 52, 0.2);
  border-left: none;

  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  /* color: #002f34; */
  color: rgba(0, 47, 52, 0.64);
}
.catList:hover {
  color: #002f34;
  background-color: rgba(0, 47, 52, 0.2);
}
.catList p {
  /* color: #002f34; */
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}
.manufac {
  color: #002f34;
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.box-2 {
  background-color: #fff;
  /* box-shadow: inset 0 0 0 1px rgba(0,47,52,.64); */
  border: 1px solid #002f34;
  width: 50%;
  height: 50px;
  height: 48px;
  border-radius: 4px;
  margin: 4px 0;
}
.descrip {
  height: 96px;
  color: #002f34;
  border: none;
  outline: none;
  display: block;
  font-size: 16px;
  height: 100%  ;
  box-sizing: border-box;
  outline: none;
  padding: 12px;
  width: 100%;
}
/* loginArea */

.loginArea{
  display: flex;
  /* border: 2px solid red; */
  margin-bottom: 7px;
}
.loginMsg{
  width: 24px;
  height: 24px;
  color: #002f34;
  
}
.loginNotifi{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #002f34;

}
.userPhoto{
  width: 10px;
  height: 10px;
  margin-top: 2px;
  margin-left: 4px;
}
.msgBtn{
  background-color: rgba(0, 47, 52, 0.03);
  width: 40px;
  height: 40px;
  margin-left: 4px;
  width: max-content;
  border-radius: 50%;
  border: none;
  outline: none;
}
.msgBtn:hover{
  background-color: #c8f8f6;
}